//  Website Theme colour
$primary: #1ca7ec;   //  10
$secondary: #88d6fd;   //  30
$dark: #121316;    //  60

// Neutral Colours 
$white: #ffffff;
$g-100: #c8c8c8;
$g-200: #b4b4b4;
$g-300: #a0a0a0;
$g-400: #8c8c8c;
$g-500: #787878;
$g-600: #646464;
$g-700: #505050;
$g-800: #3c3c3c;
$g-900: #282828;
$black: #000000;

:root {
    --border-radius: 28px;
    --border-radius-child: calc(var(--border-radius) - 16px);
}