/*  Custom SCSS Pack   */
:root {
  --border-radius: 28px;
  --border-radius-child: calc(var(--border-radius) - 16px);
}

/*  Component SCSS Modules  */
/*  Custom SCSS Pack   */
/*  Custom SCSS Pack   */
/*  Typography  */
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  /*    Font Size Variables    */
  --fs-100: 0.62rem;
  --fs-200: 0.7225rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.07rem;
  --fs-900: 2.48rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --fs-100: calc(0.85 * 0.62rem);
    --fs-200: calc(0.85 * 0.7225rem);
    --fs-300: calc(0.85 * 0.85rem);
    --fs-400: calc(0.85 * 1rem);
    --fs-500: calc(0.85 * 1.2rem);
    --fs-600: calc(0.85 * 1.44rem);
    --fs-700: calc(0.85 * 1.728rem);
    --fs-800: calc(0.85 * 2.07rem);
    --fs-900: calc(0.85 * 2.48rem);
  }
}
@media (max-width: 767px) {
  :root {
    --fs-100: calc(0.7 * 0.62rem);
    --fs-200: calc(0.7 * 0.7225rem);
    --fs-300: calc(0.7 * 0.85rem);
    --fs-400: calc(0.7 * 1rem);
    --fs-500: calc(0.7 * 1.2rem);
    --fs-600: calc(0.7 * 1.44rem);
    --fs-700: calc(0.7 * 1.728rem);
    --fs-800: calc(0.7 * 2.07rem);
    --fs-900: calc(0.7 * 2.48rem);
  }
}
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
  color: #ffffff;
  font-weight: 600;
}
:root h1 {
  font-size: var(--fs-900);
  margin-block-start: calc(0.45 * var(--fs-900));
  margin-block-end: calc(0.45 * var(--fs-900));
}
:root h2 {
  font-size: var(--fs-800);
  margin-block-start: calc(0.45 * var(--fs-800));
  margin-block-end: calc(0.45 * var(--fs-800));
}
:root h3 {
  font-size: var(--fs-700);
  margin-block-start: calc(0.45 * var(--fs-700));
  margin-block-end: calc(0.45 * var(--fs-700));
}
:root h4 {
  font-size: var(--fs-600);
  margin-block-start: calc(0.45 * var(--fs-600));
  margin-block-end: calc(0.45 * var(--fs-600));
}
:root h5 {
  font-size: var(--fs-500);
  margin-block-start: calc(0.45 * var(--fs-500));
  margin-block-end: calc(0.45 * var(--fs-500));
}
:root h6 {
  font-size: var(--fs-400);
  margin-block-start: calc(0.45 * var(--fs-400));
  margin-block-end: calc(0.45 * var(--fs-400));
}
:root a {
  color: #88d6fd;
  text-decoration: none;
  font-weight: 500;
}
:root p {
  color: #8c8c8c;
  font-size: var(--fs-400);
  line-height: calc(1.33 * var(--fs-500));
  margin-block-start: calc(0.5 * var(--fs-500));
  margin-block-end: calc(0.5 * var(--fs-500));
  align-self: center;
}
@media (max-width: 767px) {
  :root p {
    font-size: var(--fs-500);
    font-size: #787878;
    line-height: calc(1.25 * var(--fs-500));
    margin-block-start: calc(0.4 * var(--fs-500));
    margin-block-end: calc(0.4 * var(--fs-500));
  }
}
:root span {
  font-size: calc(0.9 * var(--fs-400));
}
:root .text-center {
  text-align: center;
}
:root .text-left {
  text-align: left;
}
:root .text-right {
  text-align: right;
}

/*  Custom SCSS Pack   */
.btn {
  width: 100%;
  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  background-color: #b4b4b4;
  border-radius: 24px;
  border: none;
  color: #000000 !important;
  outline: 2px solid #c8c8c8;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: var(--fs-300);
  font-weight: 600;
}
.btn:hover {
  transition: all 1s ease-in-out;
  color: #ffffff;
  background-color: transparent;
}
.btn.primary {
  background-color: #1ca7ec;
  outline: 2px solid #1ca7ec;
}
.btn.primary:hover {
  transition: all 1s ease-in-out;
  color: #1ca7ec !important;
  background-color: transparent;
  outline: 3px solid #1ca7ec;
}

/*  Custom SCSS Pack   */
:root {
  --hp-glow: 60%;
  --fp-glow: 140%;
}

@keyframes tree-dot {
  0% {
    background-color: #3c3c3c;
    transition: all 1s;
    outline: 3px solid #646464;
  }
  25% {
    background-color: #1ca7ec;
    outline: 3px solid #c8c8c8;
  }
  50% {
    background-color: #3c3c3c;
    outline: 3px solid #646464;
  }
  75% {
    background-color: #1ca7ec;
    outline: 3px solid #c8c8c8;
  }
  100% {
    background-color: #3c3c3c;
    transition: all 1s;
    outline: 3px solid #646464;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
    transition: all 1s;
  }
  50% {
    transform: rotateZ(180deg);
    transition: all 1s;
  }
  100% {
    transform: rotateZ(360deg);
    transition: all 1s;
  }
}
@keyframes glow {
  0% {
    filter: brightness(var(--hp-glow));
    transition: all 1s;
  }
  50% {
    filter: brightness(var(--fp-glow));
    transition: all 1s;
  }
  100% {
    filter: brightness(var(--hp-glow));
    transition: all 1s;
  }
}
@keyframes card-glow {
  0% {
    transition: all 500ms;
    box-shadow: 0 0 0px #c8c8c8;
  }
  50% {
    transition: all 500ms;
    box-shadow: 0 0 8px #c8c8c8;
  }
  0% {
    transition: all 500ms;
    box-shadow: 0 0 0px #c8c8c8;
  }
}
/*  Custom SCSS Pack   */
html {
  width: 100%;
  scroll-behavior: smooth;
}
html body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden !important;
  background-color: #121316;
}
html body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 767px) {
  html body {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
html body nav {
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
html body img {
  max-width: inherit;
}
html body svg {
  width: inherit;
}
html body ul {
  list-style: none;
  margin-block-start: auto;
  margin-block-end: auto;
  padding-inline-start: 0;
}
html body .container {
  margin: 0 1.25rem;
}
html body .container-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
html body .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  html body .row.r-lg-block {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .row.r-md-block {
    display: block;
  }
}
@media (max-width: 767px) {
  html body .row.r-sm-block {
    display: block;
  }
}
html body .align-center {
  align-items: center;
}
html body .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
html body .mb-1 {
  margin-bottom: 0.6666666667rem;
}
html body .mb-2 {
  margin-bottom: 1.3333333333rem;
}
html body .mb-3 {
  margin-bottom: 2rem;
}
html body .mb-4 {
  margin-bottom: 2.6666666667rem;
}
html body .mb-5 {
  margin-bottom: 3.3333333333rem;
}
html body .mb-6 {
  margin-bottom: 4rem;
}
html body .mt-1 {
  margin-top: 0.6666666667rem;
}
html body .mt-2 {
  margin-top: 1.3333333333rem;
}
html body .mt-3 {
  margin-top: 2rem;
}
html body .mt-4 {
  margin-top: 2.6666666667rem;
}
html body .mt-5 {
  margin-top: 3.3333333333rem;
}
html body .mt-6 {
  margin-top: 4rem;
}
html body .col-1 {
  max-width: 8.3333333333%;
  width: 8.3333333333%;
  flex: 100%;
}
html body .col-2 {
  max-width: 16.6666666667%;
  width: 16.6666666667%;
  flex: 100%;
}
html body .col-3 {
  max-width: 25%;
  width: 25%;
  flex: 100%;
}
html body .col-4 {
  max-width: 33.3333333333%;
  width: 33.3333333333%;
  flex: 100%;
}
html body .col-5 {
  max-width: 41.6666666667%;
  width: 41.6666666667%;
  flex: 100%;
}
html body .col-6 {
  max-width: 50%;
  width: 50%;
  flex: 100%;
}
html body .col-7 {
  max-width: 58.3333333333%;
  width: 58.3333333333%;
  flex: 100%;
}
html body .col-8 {
  max-width: 66.6666666667%;
  width: 66.6666666667%;
  flex: 100%;
}
html body .col-9 {
  max-width: 75%;
  width: 75%;
  flex: 100%;
}
html body .col-10 {
  max-width: 83.3333333333%;
  width: 83.3333333333%;
  flex: 100%;
}
html body .col-11 {
  max-width: 91.6666666667%;
  width: 91.6666666667%;
  flex: 100%;
}
html body .col-12 {
  max-width: 100%;
  width: 100%;
  flex: 100%;
}
@media (min-width: 1024px) {
  html body .col-lg-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 100%;
  }
  html body .col-lg-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 100%;
  }
  html body .col-lg-3 {
    max-width: 25%;
    width: 25%;
    flex: 100%;
  }
  html body .col-lg-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 100%;
  }
  html body .col-lg-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 100%;
  }
  html body .col-lg-6 {
    max-width: 50%;
    width: 50%;
    flex: 100%;
  }
  html body .col-lg-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 100%;
  }
  html body .col-lg-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 100%;
  }
  html body .col-lg-9 {
    max-width: 75%;
    width: 75%;
    flex: 100%;
  }
  html body .col-lg-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 100%;
  }
  html body .col-lg-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 100%;
  }
  html body .col-lg-12 {
    max-width: 100%;
    width: 100%;
    flex: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .col-md-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 100%;
  }
  html body .col-md-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 100%;
  }
  html body .col-md-3 {
    max-width: 25%;
    width: 25%;
    flex: 100%;
  }
  html body .col-md-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 100%;
  }
  html body .col-md-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 100%;
  }
  html body .col-md-6 {
    max-width: 50%;
    width: 50%;
    flex: 100%;
  }
  html body .col-md-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 100%;
  }
  html body .col-md-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 100%;
  }
  html body .col-md-9 {
    max-width: 75%;
    width: 75%;
    flex: 100%;
  }
  html body .col-md-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 100%;
  }
  html body .col-md-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 100%;
  }
  html body .col-md-12 {
    max-width: 100%;
    width: 100%;
    flex: 100%;
  }
}
@media (max-width: 767px) {
  html body .col-sm-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 100%;
  }
  html body .col-sm-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 100%;
  }
  html body .col-sm-3 {
    max-width: 25%;
    width: 25%;
    flex: 100%;
  }
  html body .col-sm-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 100%;
  }
  html body .col-sm-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 100%;
  }
  html body .col-sm-6 {
    max-width: 50%;
    width: 50%;
    flex: 100%;
  }
  html body .col-sm-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 100%;
  }
  html body .col-sm-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 100%;
  }
  html body .col-sm-9 {
    max-width: 75%;
    width: 75%;
    flex: 100%;
  }
  html body .col-sm-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 100%;
  }
  html body .col-sm-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 100%;
  }
  html body .col-sm-12 {
    max-width: 100%;
    width: 100%;
    flex: 100%;
  }
}
html body .info {
  font-size: var(--fs-200);
  letter-spacing: 1.15px;
  color: #c8c8c8;
  font-weight: 200;
}
@media (max-width: 767px) {
  html body .info {
    font-size: var(--fs-100);
    letter-spacing: 0.5px;
  }
}
html body .info.secondary {
  color: #88d6fd;
  font-weight: 400;
}
html body .breaker {
  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  html body .breaker {
    height: 7.9vh;
  }
}
html body .heading {
  text-transform: capitalize;
  border-left: 0.6rem solid #ffffff;
  padding-left: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2.5rem;
  width: fit-content;
}
html body .heading h1,
html body .heading h2,
html body .heading h3,
html body .heading h4,
html body .heading h5,
html body .heading h6 {
  margin-block-start: calc(0.1 * var(--fs-800));
  margin-block-end: calc(0.1 * var(--fs-800));
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 4px;
  width: fit-content;
}
html body .bs-100 {
  box-shadow: 0px 1px 20px 1px #000000;
}
html body .bs-200 {
  box-shadow: 2px 3.75px 12px 1.4px #000000;
}
html body .bs-300 {
  box-shadow: 2.5px 3.75px 12px 2px #000000;
}
html body .bs-400 {
  box-shadow: 2.5px 3.75px 14px 3px #000000;
}
html body .bs-500 {
  box-shadow: 2.5px 3.75px 19.6px 4.2px #000000;
}
html body .bs-600 {
  box-shadow: 3.5px 5.25px 28px 5.88px #000000;
}
html body .bs-700 {
  box-shadow: 3.5px 5.25px 39px 8.2px #000000;
}
html body .bs-800 {
  box-shadow: 5px 7.35px 55px 11.5px #000000;
}
html body .bs-900 {
  box-shadow: 5px 7.35px 77px 16px #000000;
}
html body .card {
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #646464;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(12px);
}
html body .card.mini {
  min-width: 6rem;
  min-height: 6rem;
  background-color: rgba(40, 40, 40, 0.9);
  padding-bottom: 1.15rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.5rem;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  html body .card.mini {
    max-width: 7.85rem;
    max-height: 9.25rem;
    margin-bottom: 0;
  }
}
html body .card.mini:hover {
  transition: all 1s;
  background-color: rgba(40, 40, 40, 0.6);
  animation: glow 3s ease-in-out infinite;
}
html body .card .body {
  display: grid;
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
html body .card .body .icon {
  display: contents;
  min-width: 3rem;
  max-width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
html body .card .body .icon img {
  margin-bottom: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  width: 7rem;
}
html body .card .body .icon.animate {
  animation: glow 4s ease-in-out infinite;
}
html body .card .body .icon.animate-rotate {
  transform: translate(50%, 50%);
  animation: rotate 3s linear infinite;
}
html body .card .body .label {
  justify-self: center;
  text-align: center;
  font-size: var(--fs-500);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  align-self: flex-end;
}
@media (min-width: 768px) {
  html body .card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html body .card {
    border-radius: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.75rem;
    padding-bottom: 0.85rem;
  }
}
html body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.95);
  backdrop-filter: blur(0.5rem);
}
html body .overlay.hidden {
  display: none;
}
@media (max-width: 767px) {
  html body .overlay {
    background-color: rgba(40, 40, 40, 0.97);
  }
}
html body .toggle-bar {
  display: none;
}
@media (max-width: 767px) {
  html body .toggle-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 1.75rem;
    height: 1.75rem;
    max-width: 1.75rem;
    max-height: 1.75rem;
    border: 1.5px solid #8c8c8c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.3);
    margin-left: auto;
  }
  html body .toggle-bar.hidden {
    display: none;
  }
  html body .toggle-bar .bar {
    width: 100%;
    height: 2px;
    border-radius: var(--border-radius);
  }
  html body .toggle-bar .bar:nth-child(-n+3) {
    background-color: #b4b4b4;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
html body .modal {
  position: fixed;
  z-index: 99;
  display: flex;
  left: 30vw;
  top: 15dvh;
  width: 40%;
  border-radius: 2.25rem;
  background-color: rgba(200, 200, 200, 0.98);
  backdrop-filter: blur(12px);
  color: #000000;
  font-weight: 600;
  min-height: 50vh;
  padding: 1.5rem;
  box-shadow: 0 0 15px 2px #121316;
}
html body .modal.hidden {
  display: none;
}
@media (max-width: 767px) {
  html body .modal {
    background-color: rgba(200, 200, 200, 0.9);
    top: 20dvh;
    left: 4vw;
    width: 80%;
    padding: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .modal {
    background-color: rgba(200, 200, 200, 0.9);
    top: 20dvh;
    left: 15vw;
    width: 70%;
    padding: 1.25rem;
  }
}
html body .modal-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (max-width: 767px) {
  html body .modal-body {
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
html body .modal-body .heading {
  width: 100%;
  color: #000000;
  font-weight: 700;
  border-left: 0.6rem solid #000000;
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .modal-body .heading {
    font-size: calc(1.25 * var(--fs-800));
  }
}
html body .section-tab {
  cursor: pointer;
  min-width: min-content;
  width: max-content;
  height: 1rem;
  border: 2px solid #c8c8c8;
  border-radius: 1.5rem;
  margin: 0 1rem;
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}
html body .section-tab .icon {
  width: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 8px;
}
html body .section-tab .icon svg {
  width: inherit;
}
html body .section-tab .title {
  font-weight: 300;
  font-size: 10px;
}
html body .section-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
html body .section-body .extra {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-content: center;
}
html body .section-body .extra .item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 33.3333%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
}
@media (max-width: 767px) {
  html body .section-body .extra .item {
    min-width: 100%;
  }
}
@media (max-width: 1023px) {
  html body .section-body .extra .item {
    margin-left: auto;
    margin-right: auto;
  }
}
html body .section-body .extra .item.n-r {
  width: 100%;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body .section-body .extra .item.n-r .row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
html body .section-body .extra .item .list-menu {
  margin-top: 0.25rem;
  margin-left: 2.5rem;
  list-style: circle;
}
@media (min-width: 768px) {
  html body .section-body .extra .item .list-menu.h-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-content: space-evenly;
  }
}
html body .section-body .extra .item .list-menu.h-list .list-item {
  margin-right: auto;
}
html body .section-body .extra .item .list-menu .list-item {
  font-weight: 600;
  font-size: var(--fs-500);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
html body .section-body .extra .catalogue {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
}
html body .section-body .extra .catalogue .navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
html body .section-body .extra .catalogue .navigation .item-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
html body .section-body .extra .catalogue .navigation .item-menu li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
@media (max-width: 767px) {
  html body .section-body .extra .catalogue .navigation .item-menu li {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
html body .section-body .extra .catalogue .navigation .item-menu li .item-option {
  cursor: pointer;
  width: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: var(--fs-400);
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: var(--border-radius);
  outline: 3px solid #8c8c8c;
  transition: all 500ms ease;
  outline-offset: 0px;
  border: none;
  background-color: transparent;
}
html body .section-body .extra .catalogue .navigation .item-menu li .item-option.active {
  outline: none;
}
html body .section-body .extra .catalogue .navigation .item-menu li .item-option:hover {
  background-color: rgba(28, 167, 236, 0.9);
  outline: 3px solid #1ca7ec;
}
html body .section-body .extra .catalogue .navigation .item-menu li .item-option.active {
  outline: 3px solid #1ca7ec;
  background-color: rgba(28, 167, 236, 0.9);
}
html body .section-body .extra .catalogue .catalogue-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  html body .section-body .extra .catalogue .catalogue-body {
    margin-top: 1rem;
  }
}
html body .section-body .extra .catalogue .catalogue-body .item-card {
  position: relative;
  display: block;
  max-width: 50%;
  min-height: 14rem;
  height: auto;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #ffffff;
  outline: 0.5px solid #ffffff;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .section-body .extra .catalogue .catalogue-body .item-card {
    max-width: 70%;
    border-radius: var(--border-radius);
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  html body .section-body .extra .catalogue .catalogue-body .item-card {
    max-width: 100%;
    border-radius: var(--border-radius);
    margin-left: 0;
    margin-right: 0;
  }
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .project-btn {
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: var(--border-radius-child);
  max-width: 100%;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: #121316;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: background-color 500ms ease-in-out, outline 300ms, color 500ms;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .project-btn:hover {
  background-color: transparent;
  color: #000000;
  outline: 3px solid #000000;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .stack {
  color: #000000;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .stack-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 6px;
  margin-bottom: 12px;
  align-self: flex-end;
  width: 100%;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .stack-list .stack-item {
  cursor: pointer;
  color: #ffffff;
  background-color: #646464;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 6px;
  font-size: var(--fs-400);
  font-weight: 500;
  transition: all 1s ease;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .stack-list .stack-item:hover {
  background-color: #1ca7ec;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body {
  position: relative;
  display: block;
  margin-top: 0;
  color: #000000;
  min-height: 12rem;
  max-width: 100%;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .header {
  font-size: var(--fs-700);
  font-weight: 700;
  margin-top: 0.33rem;
  margin-bottom: 0.33rem;
  letter-spacing: 1px;
}
@media (max-width: 1023px) {
  html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .header {
    font-size: var(--fs-800);
  }
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .info {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 1023px) {
  html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .info {
    font-size: var(--fs-500);
  }
}
html body .section-body .extra .catalogue .paginator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
html body .section-body .extra .catalogue .paginator .pag-btn {
  cursor: pointer;
  border: none;
  background-color: #000000;
  outline: 2px solid #282828;
  border-radius: var(--border-radius);
  min-width: 8rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--fs-300);
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
html body .section-body .extra .catalogue .paginator .pag-btn:hover {
  cursor: pointer;
  transition: all 1s;
  outline: 4px solid #505050;
}
html body .section-body .extra .carousel {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  overflow: hidden;
}
html body .section-body .extra .carousel .carousel-body {
  display: flex;
  width: 100%;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  flex-direction: column;
  flex: 0 0 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 20%;
  margin-right: 20%;
  transition: transform 500ms ease-in-out;
}
@media (max-width: 1023px) {
  html body .section-body .extra .carousel .carousel-body .carousel-slide {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .quote {
  display: flex;
  flex-wrap: warp;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-700);
  font-weight: 700;
  width: 100%;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .quote::before {
  content: '"';
  display: flex;
  height: 70px;
  margin-right: auto;
  font-size: calc(2.5 * var(--fs-800));
  margin-right: 2rem;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .quote::after {
  content: '"';
  display: flex;
  height: 70px;
  margin-left: auto;
  font-size: calc(2.5 * var(--fs-800));
  margin-right: 2rem;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile .detail {
  position: relative;
  display: block;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile .detail .name {
  font-weight: 600;
  font-size: var(--fs-500);
  letter-spacing: 1px;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile .detail .position {
  font-weight: 400;
  color: #646464;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile .profile-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
  border-radius: 50%;
  background-color: #b4b4b4;
  overflow: hidden;
}
html body .section-body .extra .carousel .carousel-body .carousel-slide .client-profile .profile-img img {
  width: inherit;
}
html body .section-body .extra .profile-card {
  max-width: 100%;
  min-height: 5rem;
  margin-top: 1rem;
  margin-left: 2.75rem;
  margin-right: 2.75rem;
  outline: 2px solid #505050;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  display: block;
  animation: card-glow 2500ms ease-in-out infinite;
}
@media (max-width: 767px) {
  html body .section-body .extra .profile-card {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 3rem;
    animation: none;
    outline: none;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .section-body .extra .profile-card {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
  }
}
html body .section-body .extra .profile-card .profile-img {
  width: 10rem;
  max-height: 10rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}
@media (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-img {
    width: 12rem;
    max-height: 12rem;
  }
}
html body .section-body .extra .profile-card .profile-img img {
  width: inherit;
  object-fit: contain;
}
html body .section-body .extra .profile-card .profile-details {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
html body .section-body .extra .profile-card .profile-details .name {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 6px;
}
@media (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-details .name {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
html body .section-body .extra .profile-card .profile-details .role {
  font-size: 0.6rem;
  font-weight: 400;
  color: #8c8c8c;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
@media (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-details .role {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
html body .section-body .extra .profile-card .profile-details .social-menu {
  max-width: 100%;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.25rem;
}
@media (max-width: 767px) {
  html body .section-body .extra .profile-card .profile-details .social-menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-details .social-menu {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
html body .section-body .extra .profile-card .profile-details .social-menu .social-link {
  margin-left: auto;
  margin-right: auto;
}
html body .section-body .extra .profile-card .profile-details .social-menu .social-link span {
  width: 80%;
}
html body .section-body .extra .profile-card .profile-details .social-menu .social-link span svg {
  width: inherit;
}
html body .section-body .extra .profile-card .profile-details .hire-btn {
  cursor: pointer;
  max-width: 100%;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  html body .section-body .extra .profile-card .profile-details .hire-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-details .hire-btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
html body .section-body .extra .profile-card .profile-details .hire-btn .btn {
  width: 100%;
  border-radius: var(--border-radius-child);
}
@media (max-width: 1023px) {
  html body .section-body .extra .profile-card .profile-details .hire-btn .btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
html body .section-body .extra .form {
  max-width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  html body .section-body .extra .form {
    display: none;
    margin: 0;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
html body .section-body .extra .form .sub-heading {
  margin-bottom: 1.5rem;
}
html body .section-body .extra .form .form-container {
  position: relative;
  width: 100%;
}
html body .section-body .extra .form .form-container .form-group {
  position: relative;
  display: flex;
  margin-top: 0.6rem;
  margin-bottom: 0.9rem;
}
@media (max-width: 1023px) {
  html body .section-body .extra .form .form-container .form-group {
    flex-wrap: wrap;
  }
}
html body .section-body .extra .form .form-container .form-group label {
  margin-right: 1rem;
}
html body .section-body .extra .form .form-container .form-group .form-input {
  flex: 1;
  padding: 8px 12px;
}
@media (max-width: 1023px) {
  html body .section-body .extra .form .form-container .form-group .form-input {
    flex: 100%;
    width: 100%;
  }
}
html body .section-body .extra .form .form-container .form-btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
html body .section-body .title {
  display: block;
  width: 60%;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  html body .section-body .title {
    width: 95%;
  }
}
html body .section-body .title::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.5rem;
  background-color: #1ca7ec;
  margin-bottom: 2rem;
}
html body .section-body .info {
  font-size: var(--fs-400);
  margin-bottom: 0.5rem;
}
html body .section-body h1,
html body .section-body h2,
html body .section-body h3,
html body .section-body h4,
html body .section-body h5,
html body .section-body h6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
html body .section-body h1.sub-heading,
html body .section-body h2.sub-heading,
html body .section-body h3.sub-heading,
html body .section-body h4.sub-heading,
html body .section-body h5.sub-heading,
html body .section-body h6.sub-heading {
  position: relative;
  width: 100%;
}
html body .section-body h1.sub-heading::after,
html body .section-body h2.sub-heading::after,
html body .section-body h3.sub-heading::after,
html body .section-body h4.sub-heading::after,
html body .section-body h5.sub-heading::after,
html body .section-body h6.sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #1ca7ec;
  margin-bottom: 2rem;
}
html body .section-body h1.sub-heading .icon,
html body .section-body h2.sub-heading .icon,
html body .section-body h3.sub-heading .icon,
html body .section-body h4.sub-heading .icon,
html body .section-body h5.sub-heading .icon,
html body .section-body h6.sub-heading .icon {
  width: 2rem;
  margin-right: 0.75rem;
}
html body .section-body .work-tree {
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
}
@media (max-width: 767px) {
  html body .section-body .work-tree {
    width: 90%;
  }
}
html body .section-body .work-tree .branch {
  position: relative;
  display: flex;
}
html body .section-body .work-tree .branch .timespan {
  width: 25%;
  margin-right: auto;
  display: inherit;
  align-items: center;
  font-weight: 600;
  font-size: var(--fs-400);
}
html body .section-body .work-tree .branch .content {
  position: relative;
  width: 75%;
  margin-top: 0;
  margin-left: auto;
  padding-top: 0;
  border-left: 4px solid #3c3c3c;
  padding-left: 2rem;
  margin-left: 0.75rem;
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  html body .section-body .work-tree .branch .content {
    width: 90%;
  }
}
html body .section-body .work-tree .branch .content::before {
  content: "";
  display: block;
  position: absolute;
  top: 46.7%;
  left: -7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3c3c3c;
  outline: 3px solid #646464;
  box-shadow: 0 2px 5px 2px #000000;
}
html body .section-body .work-tree .branch .content:hover::before {
  animation: tree-dot 5s ease-in-out infinite;
}
html body .section-body .work-tree .branch .content .header {
  font-size: var(--fs-700);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.15rem;
}
html body .section-body .work-tree .branch .content .branch-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  font-size: var(--fs-100);
}
html body .section-body .work-tree .branch .content .branch-info .tablet {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--border-radius);
  min-width: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #505050;
  color: #ffffff;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
html body .section-body .work-tree .branch .content .branch-info .tablet.type-0 {
  background-color: #1ca7ec;
}
html body .section-body .work-tree .branch .content .branch-info .tablet.type-1 {
  background-color: #88d6fd;
}
html body .section-body .work-tree .branch .content .brief {
  font-weight: 300;
  font-size: var(--fs-100);
  letter-spacing: 1px;
}
html body .git-redirect {
  z-index: 200;
  position: fixed;
  left: 0;
  bottom: 4rem;
  display: flex;
  width: 10rem;
  max-width: 10rem;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(18, 19, 22, 0.8);
  border-radius: 0 2rem 2rem 0;
  animation: card-glow 3s infinite;
  transition: bottom 1s ease-in;
}
@media (max-width: 767px) {
  html body .git-redirect {
    max-width: 4.5rem;
    height: 3.75rem;
    bottom: 30%;
  }
}
html body .git-redirect .git-link {
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding: 1px 10px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  html body .git-redirect .git-link {
    padding: 6px;
  }
}
html body .git-redirect .git-link .label {
  margin-right: 0.5rem;
  letter-spacing: 1px;
  font-size: var(--fs-600);
}
@media (max-width: 767px) {
  html body .git-redirect .git-link .label {
    display: none;
  }
}
html body .git-redirect .git-link .git-icon {
  flex: 1;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}
html body span svg {
  width: inherit !important;
}

/*  Section SCSS Modules  */
/*  Custom SCSS Pack   */
.navbar {
  position: fixed;
  z-index: 99;
  width: fit-content;
  border: 2px solid #ffffff;
  border-radius: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 3px 15px 1px #000000;
  left: 50%;
  transform: translate(-50%);
  transition: top 300ms ease-in-out;
}
@media (min-width: 768px) {
  .navbar {
    top: 1.5rem;
  }
}
@media (max-width: 767px) {
  .navbar {
    bottom: 1.5rem;
    width: 19rem;
  }
}
.navbar.sidebar {
  position: fixed;
  top: 17.5vh;
  left: 95vw;
  flex-wrap: wrap !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  box-shadow: 0px 0px 15px 1px #000000;
  transition: top 500ms ease;
}
.navbar.sidebar .nav-menu {
  flex-direction: column;
}
.navbar.sidebar .nav-menu .nav-item {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.navbar.sidebar .nav-menu .nav-item:hover .tooltip {
  display: block;
  position: absolute;
  left: -175%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(180, 180, 180, 0.6);
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.25rem;
}
.navbar.sidebar .nav-menu .nav-item:hover .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-color: #b4b4b4;
  border-left: 7px solid !important;
  border-left-color: rgba(180, 180, 180, 0.6) !important;
  border-right: none !important;
  top: 7px;
  left: 100%;
  transform: translateX(-2%);
}
.navbar .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.navbar .nav-menu .nav-item {
  position: relative;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.navbar .nav-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 1.5rem;
  padding: 0.4rem;
  border-radius: 1rem;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  background-color: rgba(80, 80, 80, 0.3);
  transition: all 1s;
}
.navbar .nav-menu .nav-item .nav-link span {
  width: 100%;
}
.navbar .nav-menu .nav-item .nav-link span .icon {
  width: 100%;
  stroke-width: 2;
  font-weight: 500;
}
.navbar .nav-menu .nav-item:hover .tooltip {
  display: block;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(180, 180, 180, 0.6);
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.25rem;
}
.navbar .nav-menu .nav-item:hover .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-color: #b4b4b4;
  border-bottom-color: rgba(180, 180, 180, 0.6);
  border-bottom: 7px solid;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .nav-menu .nav-item .tooltip {
  display: none;
}

/*  Custom SCSS Pack   */
.hero {
  position: relative;
  display: block;
  margin-top: 1.775rem;
  margin-left: 13%;
  margin-right: 13%;
  min-height: 70vh;
  max-height: 90vh;
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    margin-top: 5vh;
    min-height: 50vh;
    max-height: 60vh;
  }
}
@media (max-width: 767px) {
  .hero {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 60vh;
    max-height: 70vh;
  }
}
.hero .intro {
  max-width: 100%;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .hero .intro {
    margin-top: 0;
    width: 100%;
  }
}
.hero .intro .phrase {
  font-size: 1.2rem;
  font-weight: 300;
}
.hero .intro .name {
  max-width: 100%;
  text-transform: capitalize;
  font-size: 6.6vw;
  font-weight: 700;
  line-height: 6rem;
  margin-block-start: 0rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .hero .intro .name {
    line-height: 3rem;
    font-size: 2.8rem;
  }
}
.hero .intro .name::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.6rem;
  background-color: #1ca7ec;
}
.hero .intro .interlude {
  font-size: 1.15rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #505050;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.hero .intro .interlude b {
  font-size: 1.5rem;
  color: #787878;
}
.hero .intro .social-menu {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero .intro .social-menu .social-link {
  margin-right: 1rem;
  margin-left: 0;
}
.hero .intro .social-menu .social-link span {
  display: contents;
  width: 3rem;
}
.hero .intro .social-menu .social-link span svg {
  width: inherit;
  margin: 0;
}
.hero .intro .resume-tab {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 10rem;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 1rem;
  padding: 3px 8px;
  outline: 1px solid #3c3c3c;
  border-radius: var(--border-radius);
}
.hero .intro .resume-tab:hover {
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
  transition: all 500ms ease-in;
}
.hero .intro .resume-tab .resume {
  display: contents;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.hero .intro .resume-tab .resume:hover {
  transition: all 500ms;
  text-decoration: underline;
}
.hero .intro .resume-tab .resume .icon {
  display: contents;
  width: 2rem;
  margin-right: 2rem;
}
.hero .intro .resume-tab .resume .icon svg {
  width: inherit;
  margin: 0;
}
.hero .sub-intro {
  min-width: 30%;
  flex: 1;
}
@media (max-width: 1023px) {
  .hero .sub-intro {
    display: none;
  }
}
.hero .sub-intro .profile-pic {
  position: relative;
  display: block;
}
.hero .sub-intro .profile-pic img {
  object-fit: fill;
  position: inherit;
  width: 50vw;
  left: -50%;
  top: 0%;
  clip: rect(20px, 330px, 420px, 160px);
}
.hero .sub-intro .quote {
  position: absolute;
  text-align: center;
  width: 45%;
  left: 44%;
  top: 35%;
  line-height: 2rem;
  font-weight: 600;
}
.hero .sub-intro .quote i {
  text-align: left;
  font-size: 5rem;
  position: absolute;
}
.hero .sub-intro .quote i.top {
  top: 2px;
  left: -0.15rem;
}
.hero .sub-intro .quote i.bottom {
  text-align: right;
  bottom: -2.75rem;
  right: 1rem;
}

.about {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #3c3c3c;
}
.about::before {
  content: "";
  position: absolute;
  z-index: 2;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  height: 4rem;
  top: -50px;
  left: -60px;
  background-image: linear-gradient(180deg, transparent, #000000);
}
@media (max-width: 1023px) {
  .about::before {
    left: -25px;
  }
}
@media (max-width: 767px) {
  .about::before {
    left: 0px;
    width: 100vw;
  }
}
.about::after {
  position: absolute;
  content: " ";
  margin: 0;
  top: 0;
  left: -55px;
  background-color: #000000;
  width: 100vw;
  height: inherit;
  z-index: -2;
}

.work {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #282828;
}

.skillset {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #282828;
}

/*  Custom SCSS Pack   */
.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.footer .credit {
  font-size: var(--fs-300);
}
.footer .credit span {
  font-size: var(--fs-500);
}
.footer .credit .footer-credit {
  color: #1ca7ec;
}
.footer .credit .footer-credit:hover {
  transition: all 1s;
  color: #88d6fd;
}

/*# sourceMappingURL=style.css.map */
