@use '../custom' as *;

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .credit {
        font-size: var(--fs-300);

        span {
            font-size: var(--fs-500);
        }
        
        .footer-credit {
            color: $primary;

            &:hover {
                transition: all 1s;
                color: $secondary
            }
        }
    }
}