@use '../custom' as *;

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

    .credit {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: var(--fs-600);

        span {
            font-size: var(--fs-600);
        }
        
        .footer-credit {
            color: $primary;

            &:hover {
                transition: all 1s;
                color: $secondary
            }
        }
    }
}