@use "../custom" as *;
@use "../component/mixins" as *;

.hero {
  position: relative;
  display: block;
  margin-top: 1.775rem;
  margin-left: 13%;
  margin-right: 13%;
  min-height: 70vh;
  max-height: 90vh;
  overflow: hidden;
  z-index: 1;

  @include responsive(mediadown) {
    margin-top: 5vh;
    min-height: 50vh;
    max-height: 60vh;
  }

  .intro {
    max-width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 2rem;

    .phrase {
      font-size: 1.2rem;
      font-weight: 300;
    }

    .name {
      max-width: 100%;
      text-transform: capitalize;
      font-size: 6.6vw;
      font-weight: 700;
      line-height: 6rem;
      margin-block-start: 0rem;
      margin-bottom: 2rem;

      &::after {
        content: "";
        display: block;
        width: 6rem;
        height: 0.6rem;
        background-color: $primary;
      }
    }

    .interlude {
      font-size: 1.15rem;
      letter-spacing: 2px;
      font-weight: 300;
      color: $g-700;
      text-transform: uppercase;
      margin-bottom: 0.5rem;

      b {
        font-size: 1.5rem;
        color: $g-500;
      }
    }

    .social-menu {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .social-link {
        margin-right: 1rem;
        margin-left: 0;

        span {
          display: contents;
          width: 3rem;

          svg {
            width: inherit;
            margin: 0;
          }
        }
      }
    }
  }

  .sub-intro {
    min-width: 30%;
    flex: 1;

    .profile-pic {
      position: relative;
      display: block;
      min-height: 70dvh;
      // overflow: hidden;

      img {
        object-fit: fill;
        position: inherit;
        width: 50vw;
        left: -50%;
        top: 0%;
        clip: rect(20px, 330px, 420px, 160px);
      }
    }
    .quote {
      position: absolute;
      text-align: center;
      width: 45%;
      left: 44%;
      top: 35%;
      line-height: 2rem;
      font-weight: 600;

      i {
        text-align: left;
        font-size: 5rem;
        position: absolute;

        &.top {
          top: 2px;
          left: -0.15rem;
        }

        &.bottom {
          text-align: right;
          bottom: -2.75rem;
          right: 1rem;
        }
      }
    }
  }
}

.about {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $g-800;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    height: 6rem;
    top: -90px;
    left: -60px;
    background-image: linear-gradient(180deg, transparent, $black);

    @include responsive(mediadown) {
      left: -25px;
    }
  }

  &::after {
    position: absolute;
    content: " ";
    margin: 0;
    top: 0;
    left: -55px;
    background-color: $black;
    width: 100vw;
    height: inherit;
    z-index: -2;
  }
}

.work {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $g-900;
}

.skillset {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $g-900;
}
