/*  Custom SCSS Pack   */
/*  Component SCSS Modules  */
/*  Typography  */
:root {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  /*    Font Size Variables    */
  --fs-100: 0.62rem;
  --fs-200: 0.7225rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.07rem;
  --fs-900: 2.48rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --fs-100: calc(0.85 * 0.62rem);
    --fs-200: calc(0.85 * 0.7225rem);
    --fs-300: calc(0.85 * 0.85rem);
    --fs-400: calc(0.85 * 1rem);
    --fs-500: calc(0.85 * 1.2rem);
    --fs-600: calc(0.85 * 1.44rem);
    --fs-700: calc(0.85 * 1.728rem);
    --fs-800: calc(0.85 * 2.07rem);
    --fs-900: calc(0.75 * 2.48rem);
  }
}
@media (max-width: 767px) {
  :root {
    --fs-100: calc(0.7 * 0.62rem);
    --fs-200: calc(0.7 * 0.7225rem);
    --fs-300: calc(0.7 * 0.85rem);
    --fs-400: calc(0.7 * 1rem);
    --fs-500: calc(0.7 * 1.2rem);
    --fs-600: calc(0.7 * 1.44rem);
    --fs-700: calc(0.7 * 1.728rem);
    --fs-800: calc(0.7 * 2.07rem);
    --fs-900: calc(0.7 * 2.48rem);
  }
}
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
  color: #ffffff;
  font-weight: 600;
}
:root h1 {
  font-size: var(--fs-900);
  margin-block-start: calc(0.45 * var(--fs-900));
  margin-block-end: calc(0.45 * var(--fs-900));
}
:root h2 {
  font-size: var(--fs-800);
  margin-block-start: calc(0.45 * var(--fs-800));
  margin-block-end: calc(0.45 * var(--fs-800));
}
:root h3 {
  font-size: var(--fs-700);
  margin-block-start: calc(0.45 * var(--fs-700));
  margin-block-end: calc(0.45 * var(--fs-700));
}
:root h4 {
  font-size: var(--fs-600);
  margin-block-start: calc(0.45 * var(--fs-600));
  margin-block-end: calc(0.45 * var(--fs-600));
}
:root h5 {
  font-size: var(--fs-500);
  margin-block-start: calc(0.45 * var(--fs-500));
  margin-block-end: calc(0.45 * var(--fs-500));
}
:root h6 {
  font-size: var(--fs-400);
  margin-block-start: calc(0.45 * var(--fs-400));
  margin-block-end: calc(0.45 * var(--fs-400));
}
:root a {
  color: #88d6fd;
  text-decoration: none;
  font-weight: 500;
}
:root p {
  color: #8c8c8c;
  font-size: var(--fs-400);
  line-height: calc(1.33 * var(--fs-500));
  margin-block-start: calc(0.5 * var(--fs-500));
  margin-block-end: calc(0.5 * var(--fs-500));
  align-self: center;
}
@media (max-width: 767px) {
  :root p {
    font-size: var(--fs-500);
    font-size: #787878;
    line-height: calc(1.25 * var(--fs-500));
    margin-block-start: calc(0.4 * var(--fs-500));
    margin-block-end: calc(0.4 * var(--fs-500));
  }
}
:root span {
  font-size: calc(0.9 * var(--fs-400));
}
:root .text-center {
  text-align: center;
}
:root .text-left {
  text-align: left;
}
:root .text-right {
  text-align: right;
}

:root {
  --hp-glow: 60%;
  --fp-glow: 140%;
}

@keyframes tree-dot {
  0% {
    background-color: #3c3c3c;
    transition: all 1s;
    outline: 3px solid #646464;
  }
  25% {
    background-color: #1ca7ec;
    outline: 3px solid #c8c8c8;
  }
  50% {
    background-color: #3c3c3c;
    outline: 3px solid #646464;
  }
  75% {
    background-color: #1ca7ec;
    outline: 3px solid #c8c8c8;
  }
  100% {
    background-color: #3c3c3c;
    transition: all 1s;
    outline: 3px solid #646464;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
    transition: all 1s;
  }
  50% {
    transform: rotateZ(180deg);
    transition: all 1s;
  }
  100% {
    transform: rotateZ(360deg);
    transition: all 1s;
  }
}
@keyframes glow {
  0% {
    filter: brightness(var(--hp-glow));
    transition: all 1s;
  }
  50% {
    filter: brightness(var(--fp-glow));
    transition: all 1s;
  }
  100% {
    filter: brightness(var(--hp-glow));
    transition: all 1s;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}
html body {
  max-width: 100%;
  margin: 0;
  background-color: #121316;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}
html body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 767px) {
  html body {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
html body nav {
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
html body img {
  max-width: inherit;
}
html body svg {
  width: inherit;
}
html body ul {
  list-style: none;
  margin-block-start: auto;
  margin-block-end: auto;
  padding-inline-start: 0;
}
html body .container {
  margin: 0 1.25rem;
}
html body .container-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
html body .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  html body .row.r-lg-block {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .row.r-md-block {
    display: block;
  }
}
@media (max-width: 767px) {
  html body .row.r-sm-block {
    display: block;
  }
}
html body .align-center {
  align-items: center;
}
html body .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
html body .mb-1 {
  margin-bottom: 0.6666666667rem;
}
html body .mb-2 {
  margin-bottom: 1.3333333333rem;
}
html body .mb-3 {
  margin-bottom: 2rem;
}
html body .mb-4 {
  margin-bottom: 2.6666666667rem;
}
html body .mb-5 {
  margin-bottom: 3.3333333333rem;
}
html body .mb-6 {
  margin-bottom: 4rem;
}
html body .mt-1 {
  margin-top: 0.6666666667rem;
}
html body .mt-2 {
  margin-top: 1.3333333333rem;
}
html body .mt-3 {
  margin-top: 2rem;
}
html body .mt-4 {
  margin-top: 2.6666666667rem;
}
html body .mt-5 {
  margin-top: 3.3333333333rem;
}
html body .mt-6 {
  margin-top: 4rem;
}
html body .col-1 {
  max-width: 8.3333333333%;
  width: 8.3333333333%;
  flex: 1;
}
html body .col-2 {
  max-width: 16.6666666667%;
  width: 16.6666666667%;
  flex: 1;
}
html body .col-3 {
  max-width: 25%;
  width: 25%;
  flex: 1;
}
html body .col-4 {
  max-width: 33.3333333333%;
  width: 33.3333333333%;
  flex: 1;
}
html body .col-5 {
  max-width: 41.6666666667%;
  width: 41.6666666667%;
  flex: 1;
}
html body .col-6 {
  max-width: 50%;
  width: 50%;
  flex: 1;
}
html body .col-7 {
  max-width: 58.3333333333%;
  width: 58.3333333333%;
  flex: 1;
}
html body .col-8 {
  max-width: 66.6666666667%;
  width: 66.6666666667%;
  flex: 1;
}
html body .col-9 {
  max-width: 75%;
  width: 75%;
  flex: 1;
}
html body .col-10 {
  max-width: 83.3333333333%;
  width: 83.3333333333%;
  flex: 1;
}
html body .col-11 {
  max-width: 91.6666666667%;
  width: 91.6666666667%;
  flex: 1;
}
html body .col-12 {
  max-width: 100%;
  width: 100%;
  flex: 1;
}
@media (min-width: 1024px) {
  html body .col-lg-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 1;
  }
  html body .col-lg-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 1;
  }
  html body .col-lg-3 {
    max-width: 25%;
    width: 25%;
    flex: 1;
  }
  html body .col-lg-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 1;
  }
  html body .col-lg-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 1;
  }
  html body .col-lg-6 {
    max-width: 50%;
    width: 50%;
    flex: 1;
  }
  html body .col-lg-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 1;
  }
  html body .col-lg-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 1;
  }
  html body .col-lg-9 {
    max-width: 75%;
    width: 75%;
    flex: 1;
  }
  html body .col-lg-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 1;
  }
  html body .col-lg-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 1;
  }
  html body .col-lg-12 {
    max-width: 100%;
    width: 100%;
    flex: 1;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .col-md-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 1;
  }
  html body .col-md-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 1;
  }
  html body .col-md-3 {
    max-width: 25%;
    width: 25%;
    flex: 1;
  }
  html body .col-md-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 1;
  }
  html body .col-md-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 1;
  }
  html body .col-md-6 {
    max-width: 50%;
    width: 50%;
    flex: 1;
  }
  html body .col-md-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 1;
  }
  html body .col-md-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 1;
  }
  html body .col-md-9 {
    max-width: 75%;
    width: 75%;
    flex: 1;
  }
  html body .col-md-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 1;
  }
  html body .col-md-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 1;
  }
  html body .col-md-12 {
    max-width: 100%;
    width: 100%;
    flex: 1;
  }
}
@media (max-width: 767px) {
  html body .col-sm-1 {
    max-width: 8.3333333333%;
    width: 8.3333333333%;
    flex: 1;
  }
  html body .col-sm-2 {
    max-width: 16.6666666667%;
    width: 16.6666666667%;
    flex: 1;
  }
  html body .col-sm-3 {
    max-width: 25%;
    width: 25%;
    flex: 1;
  }
  html body .col-sm-4 {
    max-width: 33.3333333333%;
    width: 33.3333333333%;
    flex: 1;
  }
  html body .col-sm-5 {
    max-width: 41.6666666667%;
    width: 41.6666666667%;
    flex: 1;
  }
  html body .col-sm-6 {
    max-width: 50%;
    width: 50%;
    flex: 1;
  }
  html body .col-sm-7 {
    max-width: 58.3333333333%;
    width: 58.3333333333%;
    flex: 1;
  }
  html body .col-sm-8 {
    max-width: 66.6666666667%;
    width: 66.6666666667%;
    flex: 1;
  }
  html body .col-sm-9 {
    max-width: 75%;
    width: 75%;
    flex: 1;
  }
  html body .col-sm-10 {
    max-width: 83.3333333333%;
    width: 83.3333333333%;
    flex: 1;
  }
  html body .col-sm-11 {
    max-width: 91.6666666667%;
    width: 91.6666666667%;
    flex: 1;
  }
  html body .col-sm-12 {
    max-width: 100%;
    width: 100%;
    flex: 1;
  }
}
html body .info {
  font-size: var(--fs-200);
  letter-spacing: 1.15px;
  color: #c8c8c8;
  font-weight: 200;
}
@media (max-width: 767px) {
  html body .info {
    font-size: var(--fs-100);
    letter-spacing: 0.5px;
  }
}
html body .info.secondary {
  color: #88d6fd;
  font-weight: 400;
}
html body .breaker {
  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  html body .breaker {
    height: 7.9vh;
  }
}
html body .heading {
  text-transform: capitalize;
  border-left: 0.6rem solid #ffffff;
  padding-left: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2.5rem;
  width: fit-content;
}
html body .heading h1,
html body .heading h2,
html body .heading h3,
html body .heading h4,
html body .heading h5,
html body .heading h6 {
  margin-block-start: calc(0.1 * var(--fs-800));
  margin-block-end: calc(0.1 * var(--fs-800));
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 4px;
  width: fit-content;
}
html body .bs-100 {
  box-shadow: 0px 1px 20px 1px #000000;
}
html body .bs-200 {
  box-shadow: 2px 3.75px 12px 1.4px #000000;
}
html body .bs-300 {
  box-shadow: 2.5px 3.75px 12px 2px #000000;
}
html body .bs-400 {
  box-shadow: 2.5px 3.75px 14px 3px #000000;
}
html body .bs-500 {
  box-shadow: 2.5px 3.75px 19.6px 4.2px #000000;
}
html body .bs-600 {
  box-shadow: 3.5px 5.25px 28px 5.88px #000000;
}
html body .bs-700 {
  box-shadow: 3.5px 5.25px 39px 8.2px #000000;
}
html body .bs-800 {
  box-shadow: 5px 7.35px 55px 11.5px #000000;
}
html body .bs-900 {
  box-shadow: 5px 7.35px 77px 16px #000000;
}
html body .card {
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #646464;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(12px);
}
html body .card.mini {
  min-width: 6rem;
  min-height: 6rem;
  background-color: rgba(40, 40, 40, 0.9);
  padding-bottom: 1.15rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  border-radius: 0.75rem;
}
html body .card.mini:hover {
  transition: all 1s;
  background-color: rgba(40, 40, 40, 0.6);
  animation: glow 3s ease-in-out infinite;
}
html body .card .body {
  display: contents;
}
html body .card .body .icon {
  display: contents;
  min-width: 3rem;
  max-width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
html body .card .body .icon.python {
  width: 8rem;
}
html body .card .body .icon.python img {
  width: 6.5rem;
  margin-left: auto;
  margin-right: auto;
}
html body .card .body .icon.animate {
  animation: glow 4s ease-in-out infinite;
}
html body .card .body .icon.animate-rotate {
  transform: translate(50%, 50%);
  animation: rotate 3s linear infinite;
}
html body .card .body .label {
  text-align: center;
  font-size: var(--fs-500);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  align-self: flex-end;
}
@media (min-width: 768px) {
  html body .card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html body .card {
    border-radius: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.75rem;
    padding-bottom: 0.85rem;
  }
}
html body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.95);
  backdrop-filter: blur(0.5rem);
}
html body .overlay.hidden {
  display: none;
}
@media (max-width: 767px) {
  html body .overlay {
    background-color: rgba(40, 40, 40, 0.97);
  }
}
html body .toggle-bar {
  display: none;
}
@media (max-width: 767px) {
  html body .toggle-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 1.75rem;
    height: 1.75rem;
    max-width: 1.75rem;
    max-height: 1.75rem;
    border: 1.5px solid #8c8c8c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.3);
    margin-left: auto;
  }
  html body .toggle-bar.hidden {
    display: none;
  }
  html body .toggle-bar .bar {
    width: 100%;
    height: 2px;
    border-radius: 2rem;
  }
  html body .toggle-bar .bar:nth-child(-n+3) {
    background-color: #b4b4b4;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
html body .modal {
  position: fixed;
  z-index: 99;
  display: flex;
  left: 30vw;
  top: 15dvh;
  width: 40%;
  border-radius: 2.25rem;
  background-color: rgba(200, 200, 200, 0.98);
  backdrop-filter: blur(12px);
  color: #000000;
  font-weight: 600;
  min-height: 50vh;
  padding: 1.5rem;
  box-shadow: 0 0 15px 2px #121316;
}
html body .modal.hidden {
  display: none;
}
@media (max-width: 767px) {
  html body .modal {
    background-color: rgba(200, 200, 200, 0.9);
    top: 20dvh;
    left: 4vw;
    width: 80%;
    padding: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .modal {
    background-color: rgba(200, 200, 200, 0.9);
    top: 20dvh;
    left: 15vw;
    width: 70%;
    padding: 1.25rem;
  }
}
html body .modal-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (max-width: 767px) {
  html body .modal-body {
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
html body .modal-body .heading {
  width: 100%;
  color: #000000;
  font-weight: 700;
  border-left: 0.6rem solid #000000;
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .modal-body .heading {
    font-size: calc(1.25 * var(--fs-800));
  }
}
html body .form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (max-width: 767px) {
  html body .form-container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html body .form-container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
html body .form-container .form-group {
  display: inherit;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 1023px) {
  html body .form-container .form-group {
    flex-direction: column;
  }
}
html body .form-container .btn {
  margin-left: auto;
  margin-right: auto;
}
html body .form-container label {
  margin-right: 0.6rem;
  font-size: var(--fs-500);
}
@media (max-width: 1023px) {
  html body .form-container label {
    margin-bottom: 0.33rem;
    font-size: var(--fs-600);
  }
}
html body .form-container span {
  font-weight: 700;
  font-size: var(--fs-700);
  letter-spacing: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 1023px) {
  html body .form-container span {
    font-size: calc(1.33 * var(--fs-800));
  }
}
html body .form-container .info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--fs-200);
  text-align: center;
  margin-bottom: 0.25rem;
}
html body .form-container .form-input {
  width: auto;
  flex: 1;
  border: none;
  border-radius: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: calc(1.05 * var(--fs-400));
  letter-spacing: 1px;
}
html body .form-container .form-input::placeholder {
  color: #8c8c8c;
  font-weight: 500;
}
html body .section-tab {
  min-width: 5rem;
  width: max-content;
  height: 1rem;
  border: 2px solid #c8c8c8;
  border-radius: 1.5rem;
  padding: 2px 0.75rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}
html body .section-tab .icon {
  width: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 0.5rem;
}
html body .section-tab .icon svg {
  width: inherit;
}
html body .section-tab .title {
  font-weight: 300;
  font-size: 10px;
}
html body .section-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
html body .section-body .extra {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-content: center;
}
html body .section-body .extra .item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 33.3333%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
}
html body .section-body .extra .item.n-r {
  width: 100%;
  flex: none;
}
html body .section-body .extra .item .list-menu {
  margin-top: 0.25rem;
  margin-left: 2.5rem;
  list-style: circle;
}
html body .section-body .extra .item .list-menu.h-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: space-evenly;
}
html body .section-body .extra .item .list-menu.h-list .list-item {
  margin-right: auto;
}
html body .section-body .extra .item .list-menu .list-item {
  font-weight: 600;
  font-size: var(--fs-500);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
html body .section-body .extra .catalogue {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
}
html body .section-body .extra .catalogue .navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
html body .section-body .extra .catalogue .navigation .item-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
html body .section-body .extra .catalogue .navigation .item-menu .item-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2rem;
  outline: 3px solid #8c8c8c;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
html body .section-body .extra .catalogue .navigation .item-menu .item-option:hover {
  transition: all 1s;
  background-color: rgba(28, 167, 236, 0.9);
  outline: 3px solid #1ca7ec;
}
html body .section-body .extra .catalogue .navigation .item-menu .item-option.active {
  background-color: rgba(28, 167, 236, 0.9);
  outline: 3px solid #1ca7ec;
}
html body .section-body .extra .catalogue .catalogue-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5rem;
}
html body .section-body .extra .catalogue .catalogue-body .item-card {
  position: relative;
  display: block;
  max-width: 27%;
  height: 21rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem 1rem 2rem 2rem;
  overflow: hidden;
  background-color: #ffffff;
  outline: 0.5px solid #ffffff;
}
html body .section-body .extra .catalogue .catalogue-body .item-card:hover .previewer iframe {
  filter: brightness(125%);
}
html body .section-body .extra .catalogue .catalogue-body .item-card .previewer {
  position: relative;
  width: 100%;
  height: 42%;
  margin-bottom: 0.1rem;
  background-color: #8c8c8c;
  overflow: hidden;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .previewer::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(180deg, transparent, #000000);
}
html body .section-body .extra .catalogue .catalogue-body .item-card .previewer iframe {
  transform: scale(0.27);
  transform-origin: top left;
  overflow: hidden;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container {
  display: block;
  text-decoration: none;
  width: 100%;
  max-height: inherit;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-top: 0;
  color: #000000;
  height: 11rem;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .header {
  font-size: var(--fs-500);
  font-weight: 700;
  margin-bottom: 0.33rem;
  letter-spacing: 1px;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .info {
  width: 100%;
  height: auto;
  min-height: 6.9rem;
  max-height: 6.9rem;
  overflow: hidden;
  font-size: calc(0.8 * var(--fs-200));
  font-weight: 400;
  color: #000000;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .stack-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin-top: 1rem;
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
html body .section-body .extra .catalogue .catalogue-body .item-card .card-container .card-body .stack-list .stack-item {
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  font-size: var(--fs-100);
  border: none;
  border-radius: 2rem;
  background-color: #8c8c8c;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
html body .section-body .extra .catalogue .paginator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
html body .section-body .extra .catalogue .paginator .pag-btn {
  border: none;
  background-color: #000000;
  outline: 2px solid #282828;
  border-radius: 3rem;
  min-width: 8rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--fs-300);
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
html body .section-body .extra .catalogue .paginator .pag-btn:hover {
  cursor: pointer;
  transition: all 1s;
  outline: 4px solid #505050;
}
html body .section-body .title {
  display: block;
  width: 60%;
  margin-bottom: 0.5rem;
}
html body .section-body .title::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.5rem;
  background-color: #1ca7ec;
  margin-bottom: 2rem;
}
html body .section-body .info {
  font-size: var(--fs-400);
  margin-bottom: 0.5rem;
}
html body .section-body h1,
html body .section-body h2,
html body .section-body h3,
html body .section-body h4,
html body .section-body h5,
html body .section-body h6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
html body .section-body h1.sub-heading,
html body .section-body h2.sub-heading,
html body .section-body h3.sub-heading,
html body .section-body h4.sub-heading,
html body .section-body h5.sub-heading,
html body .section-body h6.sub-heading {
  position: relative;
  width: 100%;
}
html body .section-body h1.sub-heading::after,
html body .section-body h2.sub-heading::after,
html body .section-body h3.sub-heading::after,
html body .section-body h4.sub-heading::after,
html body .section-body h5.sub-heading::after,
html body .section-body h6.sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #1ca7ec;
  margin-bottom: 2rem;
}
html body .section-body h1.sub-heading .icon,
html body .section-body h2.sub-heading .icon,
html body .section-body h3.sub-heading .icon,
html body .section-body h4.sub-heading .icon,
html body .section-body h5.sub-heading .icon,
html body .section-body h6.sub-heading .icon {
  width: 2rem;
  margin-right: 0.75rem;
}
html body .section-body .work-tree {
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
}
html body .section-body .work-tree .branch {
  position: relative;
  display: flex;
}
html body .section-body .work-tree .branch .timespan {
  width: 25%;
  margin-right: auto;
  display: inherit;
  align-items: center;
  font-weight: 600;
  font-size: var(--fs-400);
}
html body .section-body .work-tree .branch .content {
  position: relative;
  width: 75%;
  margin-top: 0;
  margin-left: auto;
  padding-top: 0;
  border-left: 4px solid #3c3c3c;
  padding-left: 2rem;
  margin-left: 0.75rem;
  padding-bottom: 2rem;
}
html body .section-body .work-tree .branch .content::before {
  content: "";
  display: block;
  position: absolute;
  top: 46.7%;
  left: -7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3c3c3c;
  outline: 3px solid #646464;
  box-shadow: 0 2px 5px 2px #000000;
}
html body .section-body .work-tree .branch .content:hover::before {
  animation: tree-dot 5s ease-in-out infinite;
}
html body .section-body .work-tree .branch .content .header {
  font-size: var(--fs-700);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.15rem;
}
html body .section-body .work-tree .branch .content .branch-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  font-size: var(--fs-100);
}
html body .section-body .work-tree .branch .content .branch-info .tablet {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2rem;
  min-width: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #505050;
  color: #ffffff;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1.5px;
}
html body .section-body .work-tree .branch .content .branch-info .tablet.type-0 {
  background-color: #1ca7ec;
}
html body .section-body .work-tree .branch .content .branch-info .tablet.type-1 {
  background-color: #88d6fd;
}
html body .section-body .work-tree .branch .content .brief {
  font-weight: 300;
  font-size: var(--fs-100);
  letter-spacing: 1px;
}
html body span svg {
  width: inherit !important;
}

/*  Section SCSS Modules  */
.navbar {
  position: sticky;
  transition: all 100ms ease-in-out;
  z-index: 99;
  margin-top: 1.5rem;
  top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: fit-content;
  border: 2px solid #ffffff;
  border-radius: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  box-shadow: 0px 3px 15px 1px #000000;
  transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar.sidebar {
  position: fixed;
  top: 17.5vh;
  right: 2rem;
  flex-wrap: wrap !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  box-shadow: 0px 0px 15px 1px #000000;
}
.navbar.sidebar .nav-menu {
  flex-direction: column;
}
.navbar.sidebar .nav-menu .nav-item {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.navbar.sidebar .nav-menu .nav-item:hover .tooltip {
  display: block;
  position: absolute;
  left: -175%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(180, 180, 180, 0.6);
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.25rem;
}
.navbar.sidebar .nav-menu .nav-item:hover .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-color: #b4b4b4;
  border-left: 7px solid !important;
  border-left-color: rgba(180, 180, 180, 0.6) !important;
  border-right: none !important;
  top: 7px;
  left: 100%;
  transform: translateX(-2%);
}
.navbar .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.navbar .nav-menu .nav-item {
  position: relative;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.navbar .nav-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 1.5rem;
  padding: 0.4rem;
  border-radius: 1rem;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  background-color: rgba(80, 80, 80, 0.3);
  transition: all 1s;
}
.navbar .nav-menu .nav-item .nav-link span {
  width: 100%;
}
.navbar .nav-menu .nav-item .nav-link span .icon {
  width: 100%;
  stroke-width: 2;
  font-weight: 500;
}
.navbar .nav-menu .nav-item:hover .tooltip {
  display: block;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(180, 180, 180, 0.6);
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.25rem;
}
.navbar .nav-menu .nav-item:hover .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-color: #b4b4b4;
  border-bottom-color: rgba(180, 180, 180, 0.6);
  border-bottom: 7px solid;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .nav-menu .nav-item .tooltip {
  display: none;
}

.hero {
  position: relative;
  display: block;
  margin-top: 1.775rem;
  margin-left: 13.5%;
  margin-right: 15.5%;
  min-height: 35vh;
  max-height: 80vh;
  overflow: hidden;
  z-index: 1;
}
.hero .intro {
  width: 65%;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}
.hero .intro .phrase {
  font-size: 1.2rem;
  font-weight: 300;
}
.hero .intro .name {
  max-width: 100%;
  text-transform: capitalize;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 6rem;
  margin-block-start: 0rem;
  margin-bottom: 2rem;
}
.hero .intro .name::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.6rem;
  background-color: #1ca7ec;
}
.hero .intro .interlude {
  font-size: 1.15rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #505050;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.hero .intro .interlude b {
  font-size: 1.5rem;
  color: #787878;
}
.hero .intro .social-menu {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero .intro .social-menu .social-link {
  margin-right: 1rem;
  margin-left: 0;
}
.hero .intro .social-menu .social-link span {
  display: contents;
  width: 3rem;
}
.hero .intro .social-menu .social-link span svg {
  width: inherit;
  margin: 0;
}
.hero .sub-intro {
  width: 35%;
  right: 0;
  top: 0;
}
.hero .sub-intro .profile-pic {
  position: relative;
  display: block;
  height: 70dvh;
  overflow: hidden;
}
.hero .sub-intro .profile-pic img {
  object-fit: fill;
  position: absolute;
  width: 50vw;
  left: -60%;
  top: -8%;
}
.hero .sub-intro .quote {
  position: absolute;
  text-align: center;
  width: 45%;
  left: 44%;
  top: 35%;
  line-height: 2rem;
  font-weight: 600;
}
.hero .sub-intro .quote i {
  text-align: left;
  font-size: 5rem;
  position: absolute;
}
.hero .sub-intro .quote i.top {
  top: 2px;
  left: -0.15rem;
}
.hero .sub-intro .quote i.bottom {
  text-align: right;
  bottom: -2.75rem;
  right: 1rem;
}

.about {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #3c3c3c;
}
.about::before {
  content: "";
  position: absolute;
  z-index: 2;
  margin: 0;
  width: 100vw;
  height: 6rem;
  top: -90px;
  left: -55px;
  background-image: linear-gradient(180deg, transparent, #000000);
}
.about::after {
  position: absolute;
  content: " ";
  margin: 0;
  top: 0;
  left: -55px;
  background-color: #000000;
  width: 100vw;
  height: inherit;
  z-index: -2;
}

.work {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #282828;
}

.skillset {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #282828;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer .credit .footer-credit {
  color: #1ca7ec;
}
.footer .credit .footer-credit:hover {
  transition: all 1s;
  color: #88d6fd;
}

/*# sourceMappingURL=style.css.map */
