@use "../custom" as *;

.btn {
  width: 100%;
  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  background-color: $g-200;
  border-radius: 24px;
  border: none;
  color: $black !important;
  outline: 2px solid $g-100;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: var(--fs-300);
  font-weight: 600;

  &:hover {
    transition: all 1s ease-in-out;
    color: $white;
    background-color: transparent;
  }

  &.primary {
    background-color: $primary;
    outline: 2px solid $primary;

    &:hover {
      transition: all 1s ease-in-out;
      color: $primary !important;
      background-color: transparent;
      outline: 3px solid $primary;
    }
  }
}
