@use "../custom" as *;
@use "./mixins" as *;
@use "./animation" as *;

html {
  width: 100%;
  scroll-behavior: smooth;

  body {
    max-width: 100%;
    margin: 0;
    background-color: $dark;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    @include responsive(mobile) {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    @include responsive(tablet) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    nav {
      display: flex;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }

    img {
      max-width: inherit;
    }

    svg {
      width: inherit;
    }

    ul {
      list-style: none;
      margin-block-start: auto;
      margin-block-end: auto;
      padding-inline-start: 0;
    }

    .container {
      margin: 0 1.25rem;

      &-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    .row {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 100%;

      // @include responsive(mobile) {
      //   display: block;
      // }

      &.r-lg-block {
        @include responsive(desktop) {
          display: block;
        }
      }

      &.r-md-block {
        @include responsive(tablet) {
          display: block;
        }
      }

      &.r-sm-block {
        @include responsive(mobile) {
          display: block;
        }
      }
    }

    .align-center {
      align-items: center;
    }

    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    .mb {
      &-1 {
        margin-bottom: calc(1 / 6 * 4rem);
      }
      &-2 {
        margin-bottom: calc(2 / 6 * 4rem);
      }
      &-3 {
        margin-bottom: calc(3 / 6 * 4rem);
      }
      &-4 {
        margin-bottom: calc(4 / 6 * 4rem);
      }
      &-5 {
        margin-bottom: calc(5 / 6 * 4rem);
      }
      &-6 {
        margin-bottom: calc(6 / 6 * 4rem);
      }
    }

    .mt {
      &-1 {
        margin-top: calc(1 / 6 * 4rem);
      }
      &-2 {
        margin-top: calc(2 / 6 * 4rem);
      }
      &-3 {
        margin-top: calc(3 / 6 * 4rem);
      }
      &-4 {
        margin-top: calc(4 / 6 * 4rem);
      }
      &-5 {
        margin-top: calc(5 / 6 * 4rem);
      }
      &-6 {
        margin-top: calc(6 / 6 * 4rem);
      }
    }

    .col {
      &-1 {
        @include column(1);
      }

      &-2 {
        @include column(2);
      }

      &-3 {
        @include column(3);
      }

      &-4 {
        @include column(4);
      }

      &-5 {
        @include column(5);
      }

      &-6 {
        @include column(6);
      }

      &-7 {
        @include column(7);
      }

      &-8 {
        @include column(8);
      }

      &-9 {
        @include column(9);
      }

      &-10 {
        @include column(10);
      }

      &-11 {
        @include column(11);
      }

      &-12 {
        @include column(12);
      }

      &-lg {
        @include responsive(desktop) {
          &-1 {
            @include column(1);
          }

          &-2 {
            @include column(2);
          }

          &-3 {
            @include column(3);
          }

          &-4 {
            @include column(4);
          }

          &-5 {
            @include column(5);
          }

          &-6 {
            @include column(6);
          }

          &-7 {
            @include column(7);
          }

          &-8 {
            @include column(8);
          }

          &-9 {
            @include column(9);
          }

          &-10 {
            @include column(10);
          }

          &-11 {
            @include column(11);
          }

          &-12 {
            @include column(12);
          }
        }
      }

      &-md {
        @include responsive(tablet) {
          &-1 {
            @include column(1);
          }

          &-2 {
            @include column(2);
          }

          &-3 {
            @include column(3);
          }

          &-4 {
            @include column(4);
          }

          &-5 {
            @include column(5);
          }

          &-6 {
            @include column(6);
          }

          &-7 {
            @include column(7);
          }

          &-8 {
            @include column(8);
          }

          &-9 {
            @include column(9);
          }

          &-10 {
            @include column(10);
          }

          &-11 {
            @include column(11);
          }

          &-12 {
            @include column(12);
          }
        }
      }

      &-sm {
        @include responsive(mobile) {
          &-1 {
            @include column(1);
          }

          &-2 {
            @include column(2);
          }

          &-3 {
            @include column(3);
          }

          &-4 {
            @include column(4);
          }

          &-5 {
            @include column(5);
          }

          &-6 {
            @include column(6);
          }

          &-7 {
            @include column(7);
          }

          &-8 {
            @include column(8);
          }

          &-9 {
            @include column(9);
          }

          &-10 {
            @include column(10);
          }

          &-11 {
            @include column(11);
          }

          &-12 {
            @include column(12);
          }
        }
      }
    }

    .info {
      font-size: var(--fs-200);
      letter-spacing: 1.15px;
      color: $g-100;
      font-weight: 200;

      @include responsive(mobile) {
        font-size: var(--fs-100);
        letter-spacing: 0.5px;
      }

      &.secondary {
        color: $secondary;
        font-weight: 400;
      }
    }

    .breaker {
      width: 100%;
      height: 10rem;
      margin-bottom: 3rem;
      @include responsive(mediadown) {
        height: 7.9vh;
      }
    }

    .heading {
      text-transform: capitalize;
      border-left: 0.6rem solid $white;
      padding-left: 1.25rem;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 2.5rem;
      width: fit-content;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block-start: calc(0.1 * var(--fs-800));
        margin-block-end: calc(0.1 * var(--fs-800));
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 4px;
        width: fit-content;
      }
    }

    .bs {
      &-100 {
        box-shadow: 0px 1px 20px 1px $black;
      }
      &-200 {
        box-shadow: 2px 3.75px 12px 1.4px $black;
      }
      &-300 {
        box-shadow: 2.5px 3.75px 12px 2px $black;
      }
      &-400 {
        box-shadow: 2.5px 3.75px 14px 3px $black;
      }
      &-500 {
        box-shadow: 2.5px 3.75px 19.6px 4.2px $black;
      }
      &-600 {
        box-shadow: 3.5px 5.25px 28px 5.88px $black;
      }
      &-700 {
        box-shadow: 3.5px 5.25px 39px 8.2px $black;
      }
      &-800 {
        box-shadow: 5px 7.35px 55px 11.5px $black;
      }
      &-900 {
        box-shadow: 5px 7.35px 77px 16px $black;
      }
    }

    .card {
      max-width: 10rem;
      max-height: 10rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: $g-600;
      margin-left: auto;
      margin-right: auto;
      backdrop-filter: blur(12px);

      &.mini {
        min-width: 6rem;
        min-height: 6rem;
        // background-color: $g-900;
        @include bg-opacity($g-900, 90);
        padding-bottom: 1.15rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        border-radius: 0.75rem;

        &:hover {
          transition: all 1s;
          @include bg-opacity($g-900, 60);
          animation: glow 3s ease-in-out infinite;
        }
      }

      .body {
        display: contents;

        .icon {
          display: contents;
          min-width: 3rem;
          max-width: 8rem;
          border-radius: 50%;
          overflow: hidden;
          margin-left: auto;
          margin-right: auto;

          &.python {
            width: 8rem;

            img {
              width: 6.5rem;
              margin-left: auto;
              margin-right: auto;
            }
          }

          &.animate {
            animation: glow 4s ease-in-out infinite;
          }

          &.animate-rotate {
            transform: translate(50%, 50%);
            animation: rotate 3s linear infinite;
          }
        }

        .label {
          text-align: center;
          font-size: var(--fs-500);
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1.25px;
          align-self: flex-end;
        }
      }

      @include responsive(mediaup) {
        width: 100%;
      }

      @include responsive(mobile) {
        border-radius: 2.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1.75rem;
        padding-bottom: 0.85rem;
      }

      // &-header {
      //   margin-bottom: 1.6rem;
      // }

      // &-body {
      //   padding-bottom: 1rem;
      // }
      // &-sub {
      //   display: grid;
      //   grid-template-columns: repeat(3, 1fr);
      //   column-gap: inherit;
      //   margin-bottom: 1rem;
      //   border-top: 3px solid $g-500;

      //   .sub-item {
      //     height: 100%;
      //     padding: 0 1rem;
      //     padding-bottom: 1rem;
      //     border-right: 3px solid $g-500;

      //     &:nth-last-child(1) {
      //       border-right: none;
      //     }
      //   }
      // }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      width: 100%;
      min-height: 100dvh;
      height: 100%;
      @include bg-opacity($g-900, 95);
      backdrop-filter: blur(0.5rem);

      &.hidden {
        display: none;
      }

      @include responsive(mobile) {
        @include bg-opacity($g-900, 97);
      }
    }

    .toggle-bar {
      display: none;

      @include responsive(mobile) {
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        width: 1.75rem;
        height: 1.75rem;
        max-width: 1.75rem;
        max-height: 1.75rem;
        border: 1.5px solid $g-400;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.75rem;
        overflow: hidden;

        @include bg-opacity($g-600, 30);
        margin-left: auto;

        &.hidden {
          display: none;
        }

        .bar {
          width: 100%;
          height: 2px;
          border-radius: 2rem;

          &:nth-child(-n + 3) {
            background-color: $g-200;
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
      }
    }

    .modal {
      position: fixed;
      z-index: 99;
      display: flex;
      left: calc(0.3 * 100vw);
      top: calc(0.15 * 100dvh);
      width: 40%;
      border-radius: 2.25rem;
      @include bg-opacity($g-100, 98);
      backdrop-filter: blur(12px);
      color: $black;
      font-weight: 600;
      min-height: 50vh;
      padding: 1.5rem;
      box-shadow: 0 0 15px 2px $dark;

      &.hidden {
        display: none;
      }

      @include responsive(mobile) {
        @include bg-opacity($g-100, 90);
        top: calc(0.2 * 100dvh);
        left: calc(0.04 * 100vw);
        width: 80%;
        padding: 1.25rem;
      }

      @include responsive(tablet) {
        @include bg-opacity($g-100, 90);
        top: calc(0.2 * 100dvh);
        left: calc(0.15 * 100vw);
        width: 70%;
        padding: 1.25rem;
      }

      &-body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;

        @include responsive(mobile) {
          width: 100%;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
        }

        .heading {
          width: 100%;
          color: $black;
          font-weight: 700;
          border-left: 0.6rem solid $black;
          padding-left: 1.25rem;
          margin-bottom: 1.5rem;

          @include responsive(tablet) {
            font-size: calc(1.25 * var(--fs-800));
          }
        }
      }
    }

    .form-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-evenly;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-right: 2rem;
      padding-left: 2rem;

      @include responsive(mobile) {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
      }

      @include responsive(tablet) {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
      }

      .form-group {
        display: inherit;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        @include responsive(mediadown) {
          flex-direction: column;
        }
      }

      .btn {
        margin-left: auto;
        margin-right: auto;
      }

      label {
        margin-right: 0.6rem;
        font-size: var(--fs-500);

        @include responsive(mediadown) {
          margin-bottom: 0.33rem;
          font-size: var(--fs-600);
        }
      }

      span {
        font-weight: 700;
        font-size: var(--fs-700);
        letter-spacing: 1px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        @include responsive(mediadown) {
          font-size: calc(1.33 * var(--fs-800));
        }
      }

      .info {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: var(--fs-200);
        text-align: center;
        margin-bottom: 0.25rem;
      }

      .form-input {
        width: auto;
        flex: 1;
        border: none;
        border-radius: 0.4rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: calc(1.05 * var(--fs-400));
        letter-spacing: 1px;

        &::placeholder {
          color: $g-400;
          font-weight: 500;
        }
      }
    }

    .section-tab {
      min-width: 5rem;
      width: max-content;
      height: 1rem;
      border: 2px solid $g-100;
      border-radius: 1.5rem;
      padding: 2px 0.75rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      text-align: center;

      .icon {
        width: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-right: 0.5rem;
        // margin-left: 0.2rem;

        svg {
          width: inherit;
        }
      }

      .title {
        font-weight: 300;
        font-size: 10px;
      }
    }

    .section-body {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4rem;

      .extra {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        align-content: center;

        .item {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          min-width: 33.3333%;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          margin-right: auto;

          &.n-r {
            width: 100%;
            flex: none;
          }

          .list-menu {
            margin-top: 0.25rem;
            margin-left: 2.5rem;
            list-style: circle;

            &.h-list {
              display: flex;
              flex-direction: row;
              flex: 1;
              align-content: space-evenly;

              .list-item {
                margin-right: auto;
              }
            }

            .list-item {
              font-weight: 600;
              font-size: var(--fs-500);
              text-transform: capitalize;
              margin-bottom: 2rem;
            }
          }
        }

        .catalogue {
          display: block;
          width: 100%;
          margin-top: 1.5rem;

          .navigation {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 1.5rem;

            .item-menu {
              display: flex;
              flex-wrap: wrap;
              align-content: space-evenly;

              .item-option {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding-left: 0.9rem;
                padding-right: 0.9rem;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 2rem;
                outline: 3px solid $g-400;
                margin-left: 0.7rem;
                margin-right: 0.7rem;

                &:hover {
                  transition: all 1s;
                  @include bg-opacity($primary, 90);
                  outline: 3px solid $primary;
                }

                &.active {
                  @include bg-opacity($primary, 90);
                  outline: 3px solid $primary;
                }
              }
            }
          }

          .catalogue-body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 5rem;

            .item-card {
              position: relative;
              display: block;
              // width: 25%;
              max-width: 27%;
              height: 21rem;
              margin-bottom: 2.5rem;
              margin-left: auto;
              margin-right: auto;
              border-radius: 1rem 1rem 2rem 2rem;
              overflow: hidden;
              background-color: $white;
              outline: 0.5px solid $white;

              &:hover {
                .previewer {
                  iframe {
                    filter: brightness(125%);
                  }
                }
              }

              .previewer {
                position: relative;
                width: 100%;
                height: 42%;
                margin-bottom: 0.1rem;
                background-color: $g-400;
                overflow: hidden;

                &::before {
                  content: "";
                  position: absolute;
                  bottom: -40px;
                  left: 0;
                  width: 100%;
                  height: 5rem;
                  background-image: linear-gradient(
                    180deg,
                    transparent,
                    $black
                  );
                  // background-color: $white;
                }

                iframe {
                  transform: scale(0.27);
                  transform-origin: top left;
                  overflow: hidden;
                  cursor: pointer;
                }
              }

              .card-container {
                display: block;
                text-decoration: none;
                width: 100%;
                max-height: inherit;

                .card-body {
                  position: relative;
                  display: flex;
                  flex-wrap: wrap;
                  padding-left: 0.6rem;
                  padding-right: 0.6rem;
                  margin-top: 0;
                  color: $black;
                  height: 11rem;

                  .header {
                    font-size: var(--fs-500);
                    font-weight: 700;
                    margin-bottom: 0.33rem;
                    letter-spacing: 1px;
                  }

                  .info {
                    width: 100%;
                    height: auto;
                    min-height: 6.9rem;
                    max-height: 6.9rem;
                    overflow: hidden;
                    font-size: calc(0.8 * var(--fs-200));
                    font-weight: 400;
                    color: $black;
                  }

                  .stack-list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-content: center;
                    margin-top: 1rem;
                    align-self: flex-end;
                    width: 100%;
                    justify-content: center;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;

                    .stack-item {
                      margin-right: auto;
                      margin-left: auto;
                      padding-top: 2px;
                      padding-bottom: 2px;
                      padding-left: 0.33rem;
                      padding-right: 0.33rem;
                      font-size: var(--fs-100);
                      border: none;
                      border-radius: 1rem;
                      // outline: 1px solid $g-600;
                      background-color: $g-400;
                      color: $white;
                      text-transform: uppercase;
                      letter-spacing: 1px;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }

          .paginator {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;

            .pag-btn {
              border: none;
              background-color: $black;
              outline: 2px solid $g-900;
              border-radius: 3rem;
              min-width: 8rem;
              text-transform: uppercase;
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              font-size: var(--fs-300);
              letter-spacing: 1px;
              color: $white;
              font-weight: 700;
              margin-left: auto;
              margin-right: auto;

              &:hover {
                cursor: pointer;
                transition: all 1s;
                outline: 4px solid $g-700;
              }
            }
          }
        }

        .carousel {
          max-width: 100%;
          margin-top: 2rem;
          margin-bottom: 2rem;
          display: flex;
          overflow: hidden;

          .carousel-body {
            display: flex;
            width: 100%;
            .carousel-slide {
              position: relative;
              display: flex;
              flex-wrap: wrap;
              max-width: 60%;
              flex-direction: column;
              flex: 0 0 100%;
              margin-top: .25rem;
              margin-bottom: .25rem;
              margin-left: 20%;
              margin-right: 20%;
              transition: transform 500ms ease-in-out;

              .quote {
                display: flex;
                flex-wrap: warp;
                flex-direction: column;
                text-align: center;
                font-size: var(--fs-700);
                font-weight: 700;
                width: 100%;

                &::before {
                  content: '"';
                  display: flex;
                  height: 70px;
                  margin-right: auto;
                  font-size: calc(2.5 * var(--fs-800));
                  margin-right: 2rem;
                }

                &::after {
                  content: '"';
                  display: flex;
                  height: 70px;
                  margin-left: auto;
                  font-size: calc(2.5 * var(--fs-800));
                  margin-right: 2rem;
                }
              }

              .client-profile {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: .5rem;

                .detail {
                  position: relative;
                  display: block;
                  .name {
                    font-weight: 600;
                    font-size: var(--fs-500);
                    letter-spacing: 1px;
                  }

                  .position {
                    font-weight: 400;
                    color: $g-600;
                  }
                }

                .profile-img {
                  width: 2.5rem;
                  height: 2.5rem;
                  margin-right: 1.25rem;
                  border-radius: 50%;
                  background-color: $g-200;
                  overflow: hidden;

                  img {
                    width: inherit;
                  }
                }
              }
            }
          }
        }
      }

      .title {
        display: block;
        width: 60%;
        margin-bottom: 0.5rem;

        &::after {
          content: "";
          display: block;
          width: 6rem;
          height: 0.5rem;
          background-color: $primary;
          margin-bottom: 2rem;
        }
      }

      .info {
        font-size: var(--fs-400);
        margin-bottom: 0.5rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &.sub-heading {
          position: relative;
          width: 100%;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            display: block;
            width: 2rem;
            height: 0.3rem;
            background-color: $primary;
            margin-bottom: 2rem;
          }

          .icon {
            width: 2rem;
            margin-right: 0.75rem;
          }
        }
      }

      .work-tree {
        width: 80%;
        margin-left: auto;
        margin-right: 10%;
        // display: flex;

        .branch {
          position: relative;
          display: flex;

          .timespan {
            width: 25%;
            margin-right: auto;
            display: inherit;
            align-items: center;
            font-weight: 600;
            font-size: var(--fs-400);
          }

          .content {
            position: relative;
            width: 75%;
            margin-top: 0;
            margin-left: auto;
            padding-top: 0;
            border-left: 4px solid $g-800;
            padding-left: 2rem;
            margin-left: 0.75rem;
            padding-bottom: 2rem;

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 46.7%;
              left: -7px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: $g-800;
              outline: 3px solid $g-600;
              box-shadow: 0 2px 5px 2px $black;
            }

            &:hover {
              &::before {
                animation: tree-dot 5s ease-in-out infinite;
              }
            }

            .header {
              font-size: var(--fs-700);
              font-weight: 700;
              margin-top: 0;
              margin-bottom: 0.15rem;
            }

            .branch-info {
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              align-content: space-evenly;
              font-size: var(--fs-100);

              .tablet {
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border-radius: 2rem;
                min-width: 4rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: $g-700;
                color: $white;
                font-weight: 500;
                margin-right: 1rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1.5px;

                &.type-0 {
                  background-color: $primary;
                }
                &.type-1 {
                  background-color: $secondary;
                }
              }
            }

            .brief {
              font-weight: 300;
              font-size: var(--fs-100);
              letter-spacing: 1px;
            }
          }
        }
      }
    }

    // div {outline: 2px solid red;}

    span {
      svg {
        width: inherit !important;
      }
    }
  }
}
